<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Java - Cherlux</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt sint obcaecati nesciunt. Possimus
                quisquam suscipit, ad sint delectus omnis necessitatibus explicabo reprehenderit dolores sed dicta
                exercitationem quis. Optio, nobis.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/logo-java.jpg" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}

</body>

</html>